<form action="/plot" method="POST">

    Tipo
    <select name="type" class="form-control" id="select-type">
        <option value="bar">Barras</option>
        <option value="line">Líneas</option>
        <option value="scatter">Dispersión</option>
    </select>

    <div class="x-panel">
    X
    <select name="x" class="form-control" id="select-x">
        {% for field in savedData.fields %}
            <option value="{{ field }}">{{ field }}</option>
        {% endfor %}
    </select>

    </div>

    <div class="y-panel">
    Y
    <select name="y" class="form-control" id="select-y">
    {% for field in savedData.fields %}
        <option value="{{ field }}">{{ field }}</option>
    {% endfor %}
    </select>
    </div>


{% if savedData is defined %}
<button id="btn-send" class="btn btn-primary">Mostrar</button>
{% else %}
<button id="btn-send" class="btn btn-primary" disabled>Mostrar</button>
{% endif %}
</form>

<div class="timeSeries">
    Serie temporal detectada
    <button id="btn-hist" class="btn btn-primary"> Ver histograma</button>
</form>
</div>

<form action="/map" method="POST">
    <button class="mt-3 btn btn-primary">Ver mapa</button>
</form>